{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
    ["prismjs", {
        "languages": ["javascript", "typescript", "html", "css", "wasm", "go", "markup", "python", "batch", "bash", "http", "nginx", "jsx", "tsx", "brainfuck", "apacheconf", "arduino"],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
    }]
  ]
}