@import 'vars';

/* Rule set for .h-8 */
.h-8 {
    height: 8px;
}

/* Rule set for .w-8 */
.w-8 {
    width: 8px;
}

/* Rule set for .h-16 */
.h-16 {
    height: 16px;
}

/* Rule set for .w-16 */
.w-16 {
    width: 16px;
}

/* Rule set for .h-32 */
.h-32 {
    height: 32px;
}

/* Rule set for .w-32 */
.w-32 {
    width: 32px;
}

/* Rule set for .h-64 */
.h-64 {
    height: 64px;
}

/* Rule set for .w-64 */
.w-64 {
    width: 64px;
}

/* Rule set for .h-96 */
.h-96 {
    height: 96px;
}

/* Rule set for .w-96 */
.w-96 {
    width: 96px;
}

/* Rule set for .h-128 */
.h-128 {
    height: 128px;
}

/* Rule set for .w-128 */
.w-128 {
    width: 128px;
}