:root {
	--white: #FFFFFF;
	--black: #000000;
	--gray: #999999e7;
	--gray-ish: #333232e7;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD9B2;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
	--xl: 24px;
}