:root {
	--color-black: #000;
	--color-gray: #888;
	--color-white: #fff;
	--color-indigo: #6610f2;
	--color-indigo-dark: #4c05f2;
	--color-gray-ish: #333232e7;
	--color-indigo-light: #818cf8;
	--color-white-gray: #ccc;
	--color-very-light-pink: #C7C7C7;
	--color-hospital-green: #ACD9B2;
	--text-input-field: #F7F7F7;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
	--xl: 24px;
	--transition: 0.2s ease-in-out;
}