@import 'vars';

$heading-font: 'Montserrat', sans-serif;
$text-font: 'Roboto', sans-serif;

.document {
  font-family: $text-font;
  font-size: var(--lg);
  line-height: 1.5;
  color: var(--color-text);
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  h1 {
    font-family: $heading-font;
    font-size: var(--xxl);
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--color-secondary);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a {
    color: var(--color-secondary);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

    &:hover {
      color: var(--color-tertiary);
      text-decoration: underline;
    }
  }

  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}