html,
body {
	min-height: 100%;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

body::-webkit-scrollbar { 
    display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}