@import 'vars';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  .about {
    text-align: center;
    margin-bottom: 50px;

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
      color: #333;
      font-family: 'Montserrat', sans-serif;
    }
  }

  .features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .feature {
      flex-basis: 30%;
      text-align: center;
      margin-bottom: 50px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      transition: transform 0.3s ease;

      h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #333;
        font-family: 'Montserrat', sans-serif;
      }

      p {
        font-size: 1.2rem;
        color: #666;
        font-family: 'Open Sans', sans-serif;
      }

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
